{{#let (element (or @tagName 'div')) as |Tag|}}
  <Tag ...attributes
    {{did-insert this.say_hello @key}}
    {{will-destroy this.say_goodbye @key}}
  >
    {{#if this.should_render_content}}
      {{yield}}
    {{else}}
      {{! TODO: what should the non-rendery guys do? }}
      <p>
        <button
          {{on 'click' this.focus_rendered_element}}
        >
          Focus rendered element
        </button>
        <button
          {{on 'click' this.render_here}}
        >
          Render here
        </button>
      </p>
    {{/if}}
  </Tag>
{{/let}}
